   .renderarea{
	width: 810px; 
	height: 400px;
	top: 120px;
	background: #000000;
	position: absolute;
	overflow: hidden;
	left: 50%;
	margin-left: -402px;
   }
   .textarea {
    width: 810px; 
	height: 400px;
	top: 0px;
	position: absolute;
	left: 50%;
	margin-left: -405px;
   }
   .scroll-pane {
	width:489px; 
	left:266px; 
	position:absolute; 
	top:130px;
	height:205px;
	overflow: auto;
	}
   .slider_screen {
    position: absolute;
    width: 451px;
	height: 256px;
	top: 120px;
	left: 50%;
	margin-left: -266px;
   }
   .slider_screen_button_screen {
    position: absolute;
	width: 46px;
	left: 404px;
	height: 163px;
	top: 46px;
	background: url(sprites/slider_screen_button_screen.png) no-repeat;
   }
   .slider_screen_frame {
    position: absolute;
	left: 28px;
	width: 394px;
	height: 256px;
	background: url(sprites/slider_screen_frame.png) no-repeat;
   }
   .slider_screen_content {
	position: absolute;
	overflow: hidden;
	height: 170px;
	width: 334px;
	left: 58px;
	top: 31px;
  }
   .slider_screen_button_authors {
    position: absolute;
	width: 46px;
	height: 163px;
	top: 46px;
	background: url(sprites/slider_screen_button_authors.png) no-repeat;
   }
   .slider_screen_button_authors_inv {
    position: absolute;
	width: 46px;
	height: 163px;
	top: 46px;
   }
   .slider_screen_arrow_left {
	position: absolute;
	left: 100px;
	width: 22px;
	height: 31px;
	top: 208px;
	background: url(sprites/arrow_left_ia.png) no-repeat;
   }
   .slider_screen_arrow_right {
	position: absolute;
	left: 329px;
	width: 22px;
	height: 31px;
	top: 208px;
	background: url(sprites/arrow_right_ia.png) no-repeat;
   }
   .slider_authors {
    position: absolute;
    width: 259px;
	height: 256px;
	top: 120px;
	left: 20px;
   }
  .slider_authors_content {
	position: absolute;
	height: 170px;
	overflow: hidden;
	width: 138px;
	left: 57px;
	top: 31px;
  }
   .slider_authors_button_authors {
    position: absolute;
	width: 46px;
	height: 163px;
	top: 46px;
	background: url(sprites/slider_authors_button_authors.png) no-repeat;
   }
   .slider_authors_frame {
    position: absolute;
	left: 28px;
	width: 202px;
	height: 256px;
	background: url(sprites/slider_authors_frame.png) no-repeat;
   }
   .slider_authors_button_screen {
    position: absolute;
	left: 208px;
	width: 46px;
	height: 163px;
	top: 46px;
	background: url(sprites/slider_authors_button_screen.png) no-repeat;
   }
   .slider_authors_button_screen_inv {
    position: absolute;
	left: 208px;
	width: 46px;
	height: 163px;
	top: 46px;
   }
   .slider_authors_arrow_left {
	position: absolute;
	left: 80px;
	width: 22px;
	height: 31px;
	top: 208px;
	background: url(sprites/arrow_left_ia.png) no-repeat;
   }
   .slider_authors_arrow_right {
	position: absolute;
	left: 148px;
	width: 22px;
	height: 31px;
	top: 208px;
	background: url(sprites/arrow_right_ia.png) no-repeat;
   }
   .arrows_container {
	position: absolute;
	left: 50%;
	width: 461px;
	height: 31px;
	top: 80px;
   }
   .arrow {
	position:relative;
	float: left;
	width: 22px;
	height: 31px;
   }
   .headers {
	position:absolute;
	left: 170px;
	top: 15px;
   }