   /*.renderarea{
	width: 810px; 
	height: 400px;
	top: 120px;
	background: #000000;
	position: absolute;
	overflow: hidden;
	left: 50%;
	margin-left: -402px;
   }*/
   .textareaAbout {
    width: 810px; 
	height: 400px;
	top: 0px;
	position: absolute;
	left: 50%;
	margin-left: -405px;
   }
   .text-pane {
	width:489px; 
	left:266px; 
	position:absolute; 
	top:125px;
	height:205px;
   }
   .scroll-pane {
	width:489px; 
	position:absolute; 
	top:60px;
	height:160px;
	overflow: hidden;
	}
	.jspTrack {
	background: none;
	}
	.jspVerticalBar {
	background: none;
	width: 8px;
	right: -5px;
	}
	.jspDrag {
	background:none repeat scroll 0 0 #3AEBF2;
	}
   .slider_screen {
    position: absolute;
    width: 451px;
	height: 256px;
	top: 120px;
	left: 50%;
	margin-left: -266px;
   }
   .slider_screen_button_screen {
    position: absolute;
	width: 46px;
	left: 404px;
	height: 163px;
	top: 46px;
	background: url(sprites/slider_screen_button_screen.png) no-repeat;
   }
   .slider_screen_frame {
    position: absolute;
	left: 28px;
	width: 394px;
	height: 256px;
	background: url(sprites/slider_screen_frame.png) no-repeat;
   }
   .slider_screen_content {
	position: absolute;
	height: 233px;
	width: 595px;
	left: 110px;
	top: 130px;
  }
   .slider_screen_button_authors {
    position: absolute;
	width: 46px;
	height: 163px;
	top: 46px;
	background: url(sprites/slider_screen_button_authors.png) no-repeat;
   }
   .slider_screen_button_authors_inv {
    position: absolute;
	width: 46px;
	height: 163px;
	top: 46px;
   }
   .slider_screen_arrow_left {
	position: absolute;
	left: 100px;
	width: 22px;
	height: 31px;
	top: 208px;
	background: url(sprites/arrow_left_ia.png) no-repeat;
   }
   .slider_screen_arrow_right {
	position: absolute;
	left: 329px;
	width: 22px;
	height: 31px;
	top: 208px;
	background: url(sprites/arrow_right_ia.png) no-repeat;
   }
   .screen_lt {
	position: absolute;
   }
   .screen_mt {
	position: absolute;
	left: 195px;
   }
   .screen_rt {
	position: absolute;
	left: 390px;
   }
   .screen_lb {
	position: absolute;
	top: 118px;
   }
   .screen_mb {
	position: absolute;
	left: 195px;
	top: 118px;
   }
   .screen_rb {
	position: absolute;
	left: 390px;
	top: 118px;
   }
   .slider_authors {
    position: absolute;
    width: 259px;
	height: 256px;
	top: 120px;
	left: 20px;
   }
  .slider_authors_content {
	position: absolute;
	height: 173px;
	overflow: hidden;
	width: 138px;
	left: 57px;
	top: 31px;
  }
   .slider_authors_button_authors {
    position: absolute;
	width: 46px;
	height: 163px;
	top: 46px;
	background: url(sprites/slider_authors_button_authors.png) no-repeat;
   }
   .slider_authors_frame {
    position: absolute;
	left: 28px;
	width: 202px;
	height: 256px;
	background: url(sprites/slider_authors_frame.png) no-repeat;
   }
   .slider_authors_button_screen {
    position: absolute;
	left: 208px;
	width: 46px;
	height: 163px;
	top: 46px;
	background: url(sprites/slider_authors_button_screen.png) no-repeat;
   }
   .slider_authors_button_screen_inv {
    position: absolute;
	left: 208px;
	width: 46px;
	height: 163px;
	top: 46px;
   }
   .slider_authors_arrow_left {
	position: absolute;
	left: 80px;
	width: 22px;
	height: 31px;
	top: 208px;
	background: url(sprites/arrow_left_ia.png) no-repeat;
   }
   .slider_authors_arrow_right {
	position: absolute;
	left: 148px;
	width: 22px;
	height: 31px;
	top: 208px;
	background: url(sprites/arrow_right_ia.png) no-repeat;
   }
   .arrows_container {
	position: absolute;
	left: 50%;
	width: 461px;
	height: 31px;
	top: 80px;
   }
   .arrow {
	position:relative;
	float: left;
	width: 22px;
	height: 31px;
   }
   .big_arrow_left {
   position:absolute;
   width: 40px;
   height: 235px;
   top: 129px;
   left: 64px;
   background: url(sprites/big_arrow_left_ia.png) no-repeat;
   }
   .big_arrow_left:hover {
   background: url(sprites/big_arrow_left_a.png) no-repeat;
   }
   .big_arrow_right{
   position:absolute;
   width: 40px;
   height: 235px;
   top: 129px;
   left:700px;
   background: url(sprites/big_arrow_right_ia.png) no-repeat;
   }
   .big_arrow_right:hover {
   background: url(sprites/big_arrow_right_a.png) no-repeat;
   }
   .headersAbout {
	position:absolute;
	left: 170px;
	top: 15px;
   }
   .screens_left {
	position:absolute;
	left: 0px;
	top: 0px;
	width: 65px;
	height: 400px;
	background: url(sprites/screens_left_ia.png) no-repeat;
	cursor:pointer;
   }
   .screens_left:hover {
	background: url(sprites/screens_left_a.png) no-repeat;
	cursor:pointer;
   }
   .screens_right {
	position:absolute;
	left: 744px;
	top: 0px;
	width: 65px;
	height: 400px;
	background: url(sprites/screens_right_ia.png) no-repeat;
	cursor:pointer;
   }
   .screens_right:hover {
	background: url(sprites/screens_right_a.png) no-repeat;
	cursor:pointer;
   }
   .author_name {
    display:block;
	font-size: 24px;
	color: #eeeeee;
	letter-spacing:0.8px;
	line-height:20px;
	font-family: Futurica;
   }
   .author_description {
    display:block;
	margin-top:-3px;
	font-size: 14px;
	color: #eeeeee;
	letter-spacing:0.8px;
	line-height:20px;
	font-family: Futurica;
   }
   .slider_awards_left {
   position:absolute;
   width: 20px;
   height: 195px;
   background: url(sprites/slider_left_ia.png) no-repeat;
   }
   .slider_awards_left:hover {
   background: url(sprites/slider_left_a.png) no-repeat;
   }
   .slider_awards_right {
   position:absolute;
   width: 20px;
   height: 195px;
   left: 179px;
   background: url(sprites/slider_right_ia.png) no-repeat;
   }
   .slider_awards_right:hover {
   background: url(sprites/slider_right_a.png) no-repeat;
   }
   .slider_awards {
   width:219px;
   height:196px;
   position:absolute;
   top:150px;
   left:40px;
   }
   .slider_awards_frame {
   background: url(sprites/slider_awards_frame.png) no-repeat;
   width:139px;
   height:196px;
   position:absolute;
   left:30px;
   }
   .slider_awards_content {
   width:133px;
   height:190px;
   position:absolute;
   top:3px;
   left:33px;
   }