   .background { 
    width: 100%; 
	height: 100%;
	overflow: hidden;
	overflow: hidden;
    background: url(sprites/background.jpg) repeat;
	position: absolute;
	top: 0px;
	left: 0px;
   }
   .leftshade { 
    width: 146px; 
	height: 100%;
    background: url(sprites/shade_left.png) repeat;
	position: absolute;
	left: 0px;
   }
   .rightshade { 
    width: 135px; 
	height: 100%;
    background: url(sprites/shade_right.png) repeat;
	position: absolute;
	right: 0px;
   }
   .topshade { 
	width: 100%; 
	height: 146px;
    background: url(sprites/shade_top.png) repeat;
	position: absolute;
	top: 0px;
   }
   .bottomshade { 
    width: 100%; 
	height: 146px;
    background: url(sprites/shade_bottom.png) repeat;
	position: absolute;
	bottom: 0px;
   }
   .main {
	width: 1024px; 
	height: 640px;
	background: url(sprites/main3.png) repeat;
	position: absolute;
	left: 50%;
	margin-left: -512px;
	top: 50%;
	margin-top: -320px;
   }
  .logo {
   width: 103px;
   height: 103px;
   position: absolute;
   left: 30px;
   top: 15px;
  }
  .dots {
   width: 185px;
   height: 103px;
   position: absolute;
   right: 30px;
   top: 15px;
  }
   .toppanel {
	position: absolute;
	left: 50%;
	top: 65px;
	margin-left: -125px;
   }
   .toppanelleft {
	width: 82px; 
	height: 43px;
	position: relative;
	float: left;
	left: 0%;
   }
   .toppanelcenter {
	width: 82px; 
	left: 2px;
	height: 43px;
	position: relative;
	float: left;
   }
   .toppanelright {
	width: 82px; 
	left: 4px;
	height: 43px;
	position: relative;
	float: left;
   }
   .visors {
	width: 59px; 
	height: 109px;
	position: absolute;
	top: 124px;
	left: 4px;
   }
   .demoleft {
	width: 124px; 
	height: 124px;
	left: 0%;
	position: absolute;
	top: 465px;
	margin-top: 38px;
	margin-left: -1px;
   }
   .demoright {
	width: 124px; 
	height: 124px;
	position: absolute;
	top: 465px;
	left: 100%;
	margin-top: 38px;
	margin-left: -132px;
   }
   .buttonleft {
	width: 86px; 
	height: 52px;
	top: 529px;
	overflow: hidden;
	position: absolute;
	margin-top: 42px;
	margin-left: 283px;
   }
   .invisiblebuttonleft {
	width: 86px; 
	height: 52px;
	top: 529px;
	overflow: hidden;
	position: absolute;
	margin-top: 42px;
	margin-left: 283px;
   }
   .sdoorll {
	width: 43px; 
	height: 52px;
	position: absolute;
	left: 0px;
   }
   .sdoorlr {
	width: 43px; 
	height: 52px;
	position: absolute;
	left: 43px;
   }
   .buttonright {
    width: 86px; 
	height: 54px;
	top: 529px;
	overflow: hidden;
	position: absolute;
	margin-top: 42px;
	margin-left: 659px;
   }
   .invisiblebuttonright {
    width: 86px; 
	height: 54px;
	top: 529px;
	position: absolute;
	margin-top: 42px;
	margin-left: 659px;
   }
   .hello {
	width: 130px; 
	height: 159px;
	position: absolute;
	margin-top: 8px;
	margin-left: 770px;
   }
   .copyright {
    width: 220px;
	height: 30px;
	top: 512px;
	position: absolute;
	left: 50%;
	margin-left: -110px;
   }
   .adminLink {
    position: absolute;
    top: 41px;
	left: 49px;
	display: none;
   }
   .logoLink {
   position: absolute;
   top: 0px;
   left: 0px;
   width: 310px;
   height: 100px;
	}   
   @font-face {
    font-family: Futurica; 
    src: url(Futurica.ttf); 
   }
   @font-face {
    font-family: Britannic; 
    src: url(Britannic.ttf); 
   }
   @font-face {
	font-family: UpheavalPro;
	src: url(UpheavalPro.ttf);
   }