@{
    ViewBag.Title = "3Ducation | Виртуальный мир";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

@section additionalCSS {
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/about.css")"/>
}
@section scripts{
     <script type="text/javascript">

         window.onload = function () {
             var updaterTop = -400;
             var updaterTimer;
             var updater = document.getElementById("updater");
             function update() {
                 updater.style.top = updaterTop + 'px';
                 updaterTop += 3;
                 if (updaterTop > 800)
                     updaterTop = -400;
             }
             updaterTimer = setInterval(update, 10);

             var frameVisors = 0;
             var timerVisors;
             var framesVisors = document.getElementById("visorsContainer").children;
             function visors() {
                 framesVisors[frameVisors].style.display = "none";
                 frameVisors++;
                 if (frameVisors == 15) {
                     frameVisors = 0;
                 }
                 framesVisors[frameVisors].style.display = "block";
             }
             timerVisors = setInterval(visors, 40);

             var frameDots = 0;
             var timerDots;
             var framesDots = document.getElementById("dotsContainer").children;
             function Dots() {
                 framesDots[frameDots].style.display = "none";
                 frameDots++;
                 if (frameDots == 15) {
                     frameDots = 0;
                 }
                 framesDots[frameDots].style.display = "block";
             }
             timerDots = setInterval(Dots, 120);
			 
			 sliderAuthorsInit();
			 initContents();
         }
		 
		 var sliderAuthorsFrame;
		 var authorsCount;
		 var sliderAuthorsFrames;
		 var pointAuthorsFrames;
		 var pointScreensFrames;
		 var textAuthorsFrames;
         
		 var sliderAwardsFrame;
		 var awardsCount;
		 var sliderAwardsFrames;
		 var pointAwardsFrames;
		 var textAwardsFrames;	
		 var imgAwardsFrame;
		 var imgAwardsFrames;
		 
		 var sliderAchievementsFrame;
		 var achievementsCount;
		 var sliderAchievementsFrames;
		 var pointAchievementsFrames;
		 var textAchievementsFrames;	
		 var imgAchievementsFrame;
		 var imgAchievementsFrames;
		 
		 function initContents() {
            var url = document.location.href.slice(0, document.location.href.lastIndexOf("/") + 1) + "about/getAuthors";
		     Ext.Ajax.request({
		         url: url,
		         success: function (response, opts) {
		            var a = eval('(' + response.responseText + ')');
		            //alert('success');
					authorsCount = a.authors.length;
					document.getElementById("sliderAuthorsContainer").innerHTML = "";
					document.getElementById('textAuthorsContainer').innerHTML = "";
					document.getElementById('authorsPointContainer').innerHTML = "";
					
					for (i = 0; i < authorsCount; i++) {
						document.getElementById("sliderAuthorsContainer").innerHTML += '<img src="' + a.authors[i].Image + '">';
						document.getElementById('authorsPointContainer').innerHTML += '<div class="arrow" style="background: url(content/sprites/point_' + (i == sliderAuthorsFrame ? '' : 'i') + 'a.png) no-repeat;" onclick="javascript:sliderAuthorsGoto(' + i + ')"></div>';
						document.getElementById('textAuthorsContainer').innerHTML += '<div class="text-pane"><p align="center" class="author_name">' + a.authors[i].Name + '</p><div class="scroll-pane"><p align="justify" class="author_description">' + a.authors[i].Description + '</p></div></div>';
					}
					sliderAuthorsFrames = document.getElementById("sliderAuthorsContainer").children;
					textAuthorsFrames = document.getElementById('textAuthorsContainer').children;
					pointAuthorsFrames = document.getElementById('authorsPointContainer').children;
					document.getElementById('authorsArrowsContainer').style.marginLeft = 20 + ( - (62 + pointAuthorsFrames.length * 31) / 2) + "px";
					document.getElementById("authorsNumber").style.marginLeft = ((44 + pointAuthorsFrames.length * 22) + 20) + "px";
					
					$('.scroll-pane').jScrollPane();
					
					for (i = 0; i < authorsCount; i++) {
						if(i == sliderAuthorsFrame) {
							textAuthorsFrames[i].style.display = "block";
							sliderAuthorsFrames[i].style.display = "block";
						} else {
							textAuthorsFrames[i].style.display = "none";
							sliderAuthorsFrames[i].style.display = "none";
						}
					}
					document.getElementById("authorsNumber").innerHTML = sliderAuthorsFrame + 1 + "/" + authorsCount;
					
					
		         },
		         failure: function (response, opts) {
		             //alert('fail');
		         }
		     });

			var url = document.location.href.slice(0, document.location.href.lastIndexOf("/") + 1) + "about/getAwards";
		     Ext.Ajax.request({
		         url: url,
		         success: function (response, opts) {
		            var a = eval('(' + response.responseText + ')');
		            //alert('success');
					awardsCount = a.awards.length;
					document.getElementById("sliderAwardsContainer").innerHTML = "";
					document.getElementById('textAwardsContainer').innerHTML = "";
					document.getElementById('awardsPointContainer').innerHTML = "";
					sliderAwardsFrame = 0;
					for (i = 0; i < awardsCount; i++) {
						var imgs = a.awards[i].Image.split(";");
						var imgString = '<div style="display:' + (i == 0 ? 'block': 'none') + '">';
						for (j = 0; j < imgs.length; j++) {
							imgString += '<img style="position:absolute;display:' + (j == 0 ? 'block': 'none') + '" src="' + imgs[j] + '"';
							imgString += 'onclick="javascript:enlargeImage(';
							imgString += "'";
							imgString += [imgs[j].slice(0,imgs[j].lastIndexOf('/')), '/full', imgs[j].slice(imgs[j].lastIndexOf('/'))].join('');
							imgString += "')";
							imgString += '">';
						}
						imgString += '</div>';
						document.getElementById("sliderAwardsContainer").innerHTML += imgString;
						document.getElementById('awardsPointContainer').innerHTML += '<div class="arrow" style="background: url(content/sprites/point_' + (i == sliderAwardsFrame ? '' : 'i') + 'a.png) no-repeat;" onclick="javascript:sliderAwardsGoto(' + i + ')"></div>';
						document.getElementById('textAwardsContainer').innerHTML += '<div class="text-pane"><p align="center" class="author_name">' + a.awards[i].Name + '</p><div class="scroll-pane"><p align="justify" class="author_description">' + a.awards[i].Description + '</p></div></div>';
					}
					sliderAwardsFrames = document.getElementById("sliderAwardsContainer").children;
					textAwardsFrames = document.getElementById('textAwardsContainer').children;
					pointAwardsFrames = document.getElementById('awardsPointContainer').children;
					document.getElementById('awardsArrowsContainer').style.marginLeft = 20 + ( - (62 + pointAwardsFrames.length * 31) / 2) + "px";
					document.getElementById("awardsNumber").style.marginLeft = ((44 + pointAwardsFrames.length * 22) + 20) + "px";
					
					
					
					
					imgAwardsFrames = sliderAwardsFrames[sliderAwardsFrame].children;
					imgAwardsFrame = 0;
					for (i = 0; i < awardsCount; i++) {
						if(i == sliderAwardsFrame) {
							textAwardsFrames[i].style.display = "block";
							sliderAwardsFrames[i].style.display = "block";
						} else {
							textAwardsFrames[i].style.display = "none";
							sliderAwardsFrames[i].style.display = "none";
						}
					}
					
					document.getElementById("awardsNumber").innerHTML = sliderAwardsFrame + 1 + "/" + awardsCount;
		         },
		         failure: function (response, opts) {
		             //alert('fail');
		         }
		     });
			 
			 var url = document.location.href.slice(0, document.location.href.lastIndexOf("/") + 1) + "about/getAchievements";
		     Ext.Ajax.request({
		         url: url,
		         success: function (response, opts) {
		            var a = eval('(' + response.responseText + ')');
		            //alert('success');
					achievementsCount = a.achievements.length;
					document.getElementById("sliderAchievementsContainer").innerHTML = "";
					document.getElementById('textAchievementsContainer').innerHTML = "";
					document.getElementById('achievementsPointContainer').innerHTML = "";
					sliderAchievementsFrame = 0;
					for (i = 0; i < achievementsCount; i++) {
						var imgs = a.achievements[i].Image.split(";");
						var imgString = '<div style="display:' + (i == 0 ? 'block': 'none') + '">';
						for (j = 0; j < imgs.length; j++) {
							imgString += '<img style="position:absolute;display:' + (j == 0 ? 'block': 'none') + '" src="' + imgs[j] + '"';
							imgString += 'onclick="javascript:enlargeImage(';
							imgString += "'";
							imgString += [imgs[j].slice(0,imgs[j].lastIndexOf('/')), '/full', imgs[j].slice(imgs[j].lastIndexOf('/'))].join('');
							imgString += "')";
							imgString += '">';
						}
						imgString += '</div>';
						document.getElementById("sliderAchievementsContainer").innerHTML += imgString;
						document.getElementById('achievementsPointContainer').innerHTML += '<div class="arrow" style="background: url(content/sprites/point_' + (i == sliderAchievementsFrame ? '' : 'i') + 'a.png) no-repeat;" onclick="javascript:sliderAchievementsGoto(' + i + ')"></div>';
						document.getElementById('textAchievementsContainer').innerHTML += '<div class="text-pane"><p align="center" class="author_name">' + a.achievements[i].Name + '</p><div class="scroll-pane"><p align="justify" class="author_description">' + a.achievements[i].Description + '</p></div></div>';
					}
					sliderAchievementsFrames = document.getElementById("sliderAchievementsContainer").children;
					textAchievementsFrames = document.getElementById('textAchievementsContainer').children;
					pointAchievementsFrames = document.getElementById('achievementsPointContainer').children;
					document.getElementById('achievementsArrowsContainer').style.marginLeft = 20 + ( - (62 + pointAchievementsFrames.length * 31) / 2) + "px";
					document.getElementById("achievementsNumber").style.marginLeft = ((44 + pointAchievementsFrames.length * 22) + 20) + "px";
					
					
					
					
					imgAchievementsFrames = sliderAchievementsFrames[sliderAchievementsFrame].children;
					imgAchievementsFrame = 0;
					for (i = 0; i < achievementsCount; i++) {
						if(i == sliderAchievementsFrame) {
							textAchievementsFrames[i].style.display = "block";
							sliderAchievementsFrames[i].style.display = "block";
						} else {
							textAchievementsFrames[i].style.display = "none";
							sliderAchievementsFrames[i].style.display = "none";
						}
					}
					
					document.getElementById("achievementsNumber").innerHTML = sliderAchievementsFrame + 1 + "/" + achievementsCount;
		         },
		         failure: function (response, opts) {
		             //alert('fail');
		         }
		     });
		 }
		 
		 
		 

		 function sliderAwardsInit() {
			document.getElementById("backScreens").style.display = "none";
			document.getElementById("back").style.display = "block";
			if (sliderAwardsFrame == null)
					sliderAwardsFrame = 0;
			imgAwardsFrames = sliderAwardsFrames[sliderAwardsFrame].children;
			imgAwardsFrame = 0;
		 }
		 
		 function sliderAwardsDecr() {
			if (sliderAwardsFrames == null) {
				sliderAwardsInit();
			}
			sliderAwardsFrames[sliderAwardsFrame].style.display = "none";
			textAwardsFrames[sliderAwardsFrame].style.display = "none";
			pointAwardsFrames[sliderAwardsFrame].style.background = "url(content/sprites/point_ia.png) no-repeat";
			sliderAwardsFrame--;
			if (sliderAwardsFrame < 0) {
				sliderAwardsFrame = awardsCount - 1;
			}
			sliderAwardsFrames[sliderAwardsFrame].style.display = "block";
			textAwardsFrames[sliderAwardsFrame].style.display = "block";
			pointAwardsFrames[sliderAwardsFrame].style.background = "url(content/sprites/point_a.png) no-repeat";
			document.getElementById("awardsNumber").innerHTML = sliderAwardsFrame + 1 + "/" + awardsCount;
			imgAwardsFrames = sliderAwardsFrames[sliderAwardsFrame].children;
			imgAwardsFrame = 0;
			$('.scroll-pane').jScrollPane();
		 }
		 
		 function sliderAwardsIncr() {
			if (sliderAwardsFrames == null) {
				sliderAwardsInit();
			}
			sliderAwardsFrames[sliderAwardsFrame].style.display = "none";
			textAwardsFrames[sliderAwardsFrame].style.display = "none";
			pointAwardsFrames[sliderAwardsFrame].style.background = "url(content/sprites/point_ia.png) no-repeat";
			sliderAwardsFrame++;
			if (sliderAwardsFrame > awardsCount - 1) {
				sliderAwardsFrame = 0;
			}
			sliderAwardsFrames[sliderAwardsFrame].style.display = "block";
			textAwardsFrames[sliderAwardsFrame].style.display = "block";
			pointAwardsFrames[sliderAwardsFrame].style.background = "url(content/sprites/point_a.png) no-repeat";
			document.getElementById("awardsNumber").innerHTML = sliderAwardsFrame + 1 + "/" + awardsCount;
			imgAwardsFrames = sliderAwardsFrames[sliderAwardsFrame].children;
			imgAwardsFrame = 0;
			$('.scroll-pane').jScrollPane();
		 }

		 function sliderAwardsGoto(index) {
		     if (sliderAwardsFrames == null) {
		         sliderAwardsInit();
		     }
		     sliderAwardsFrames[sliderAwardsFrame].style.display = "none";
		     textAwardsFrames[sliderAwardsFrame].style.display = "none";
		     pointAwardsFrames[sliderAwardsFrame].style.background = "url(content/sprites/point_ia.png) no-repeat";
		     sliderAwardsFrame = index;
		     sliderAwardsFrames[sliderAwardsFrame].style.display = "block";
		     textAwardsFrames[sliderAwardsFrame].style.display = "block";
		     pointAwardsFrames[sliderAwardsFrame].style.background = "url(content/sprites/point_a.png) no-repeat";
		     document.getElementById("awardsNumber").innerHTML = sliderAwardsFrame + 1 + "/" + awardsCount;
			 imgAwardsFrames = sliderAwardsFrames[sliderAwardsFrame].children;
			 imgAwardsFrame = 0;
			 $('.scroll-pane').jScrollPane();
		 }
		 
		 function sliderAwardsImgIncr() {
			imgAwardsFrames[imgAwardsFrame].style.display = "none";
			imgAwardsFrame--;
			if (imgAwardsFrame < 0) {
				imgAwardsFrame = imgAwardsFrames.length - 1;
			}
			imgAwardsFrames[imgAwardsFrame].style.display = "block";
		 }
		 
		 function sliderAwardsImgDecr() {
			imgAwardsFrames[imgAwardsFrame].style.display = "none";
			imgAwardsFrame++;
			if (imgAwardsFrame > imgAwardsFrames.length - 1) {
				imgAwardsFrame = 0;
			}
			imgAwardsFrames[imgAwardsFrame].style.display = "block";
		 }
		 
		 
		 
		 function sliderAchievementsInit() {
			document.getElementById("backScreens").style.display = "none";
			document.getElementById("back").style.display = "block";
			if (sliderAchievementsFrame == null)
					sliderAchievementsFrame = 0;
			imgAchievementsFrames = sliderAchievementsFrames[sliderAchievementsFrame].children;
			imgAchievementsFrame = 0;
		 }
		 
		 function sliderAchievementsDecr() {
			if (sliderAchievementsFrames == null) {
				sliderAchievementsInit();
			}
			sliderAchievementsFrames[sliderAchievementsFrame].style.display = "none";
			textAchievementsFrames[sliderAchievementsFrame].style.display = "none";
			pointAchievementsFrames[sliderAchievementsFrame].style.background = "url(content/sprites/point_ia.png) no-repeat";
			sliderAchievementsFrame--;
			if (sliderAchievementsFrame < 0) {
				sliderAchievementsFrame = achievementsCount - 1;
			}
			sliderAchievementsFrames[sliderAchievementsFrame].style.display = "block";
			textAchievementsFrames[sliderAchievementsFrame].style.display = "block";
			pointAchievementsFrames[sliderAchievementsFrame].style.background = "url(content/sprites/point_a.png) no-repeat";
			document.getElementById("achievementsNumber").innerHTML = sliderAchievementsFrame + 1 + "/" + achievementsCount;
			imgAchievementsFrames = sliderAchievementsFrames[sliderAchievementsFrame].children;
			imgAchievementsFrame = 0;
			$('.scroll-pane').jScrollPane();
		 }
		 
		 function sliderAchievementsIncr() {
			if (sliderAchievementsFrames == null) {
				sliderAchievementsInit();
			}
			sliderAchievementsFrames[sliderAchievementsFrame].style.display = "none";
			textAchievementsFrames[sliderAchievementsFrame].style.display = "none";
			pointAchievementsFrames[sliderAchievementsFrame].style.background = "url(content/sprites/point_ia.png) no-repeat";
			sliderAchievementsFrame++;
			if (sliderAchievementsFrame > achievementsCount - 1) {
				sliderAchievementsFrame = 0;
			}
			sliderAchievementsFrames[sliderAchievementsFrame].style.display = "block";
			textAchievementsFrames[sliderAchievementsFrame].style.display = "block";
			pointAchievementsFrames[sliderAchievementsFrame].style.background = "url(content/sprites/point_a.png) no-repeat";
			document.getElementById("achievementsNumber").innerHTML = sliderAchievementsFrame + 1 + "/" + achievementsCount;
			imgAchievementsFrames = sliderAchievementsFrames[sliderAchievementsFrame].children;
			imgAchievementsFrame = 0;
			$('.scroll-pane').jScrollPane();
		 }

		 function sliderAchievementsGoto(index) {
		     if (sliderAchievementsFrames == null) {
		         sliderAchievementsInit();
		     }
		     sliderAchievementsFrames[sliderAchievementsFrame].style.display = "none";
		     textAchievementsFrames[sliderAchievementsFrame].style.display = "none";
		     pointAchievementsFrames[sliderAchievementsFrame].style.background = "url(content/sprites/point_ia.png) no-repeat";
		     sliderAchievementsFrame = index;
		     sliderAchievementsFrames[sliderAchievementsFrame].style.display = "block";
		     textAchievementsFrames[sliderAchievementsFrame].style.display = "block";
		     pointAchievementsFrames[sliderAchievementsFrame].style.background = "url(content/sprites/point_a.png) no-repeat";
		     document.getElementById("achievementsNumber").innerHTML = sliderAchievementsFrame + 1 + "/" + achievementsCount;
			 imgAchievementsFrames = sliderAchievementsFrames[sliderAchievementsFrame].children;
			 imgAchievementsFrame = 0;
			 $('.scroll-pane').jScrollPane();
		 }
		 
		 function sliderAchievementsImgIncr() {
			imgAchievementsFrames[imgAchievementsFrame].style.display = "none";
			imgAchievementsFrame--;
			if (imgAchievementsFrame < 0) {
				imgAchievementsFrame = imgAchievementsFrames.length - 1;
			}
			imgAchievementsFrames[imgAchievementsFrame].style.display = "block";
		 }
		 
		 function sliderAchievementsImgDecr() {
			imgAchievementsFrames[imgAchievementsFrame].style.display = "none";
			imgAchievementsFrame++;
			if (imgAchievementsFrame > imgAchievementsFrames.length - 1) {
				imgAchievementsFrame = 0;
			}
			imgAchievementsFrames[imgAchievementsFrame].style.display = "block";
		 }
		 

		 function sliderAuthorsInit() {
			document.getElementById("backScreens").style.display = "none";
			document.getElementById("back").style.display = "block";
			if (sliderAuthorsFrame == null)
					sliderAuthorsFrame = 0;
		 }
		 
		 function sliderAuthorsDecr() {
			if (sliderAuthorsFrames == null) {
				sliderAuthorsInit();
			}
			sliderAuthorsFrames[sliderAuthorsFrame].style.display = "none";
			textAuthorsFrames[sliderAuthorsFrame].style.display = "none";
			pointAuthorsFrames[sliderAuthorsFrame].style.background = "url(content/sprites/point_ia.png) no-repeat";
			sliderAuthorsFrame--;
			if (sliderAuthorsFrame < 0) {
				sliderAuthorsFrame = authorsCount - 1;
			}
			sliderAuthorsFrames[sliderAuthorsFrame].style.display = "block";
			textAuthorsFrames[sliderAuthorsFrame].style.display = "block";
			pointAuthorsFrames[sliderAuthorsFrame].style.background = "url(content/sprites/point_a.png) no-repeat";
			document.getElementById("authorsNumber").innerHTML = sliderAuthorsFrame + 1 + "/" + authorsCount;
			$('.scroll-pane').jScrollPane();
		 }
		 
		 function sliderAuthorsIncr() {
			if (sliderAuthorsFrames == null) {
				sliderAuthorsInit();
			}
			sliderAuthorsFrames[sliderAuthorsFrame].style.display = "none";
			textAuthorsFrames[sliderAuthorsFrame].style.display = "none";
			pointAuthorsFrames[sliderAuthorsFrame].style.background = "url(content/sprites/point_ia.png) no-repeat";
			sliderAuthorsFrame++;
			if (sliderAuthorsFrame > authorsCount - 1) {
				sliderAuthorsFrame = 0;
			}
			sliderAuthorsFrames[sliderAuthorsFrame].style.display = "block";
			textAuthorsFrames[sliderAuthorsFrame].style.display = "block";
			pointAuthorsFrames[sliderAuthorsFrame].style.background = "url(content/sprites/point_a.png) no-repeat";
			document.getElementById("authorsNumber").innerHTML = sliderAuthorsFrame + 1 + "/" + authorsCount;
			$('.scroll-pane').jScrollPane();
		 }

		 function sliderAuthorsGoto(index) {
		     if (sliderAuthorsFrames == null) {
		         sliderAuthorsInit();
		     }
		     sliderAuthorsFrames[sliderAuthorsFrame].style.display = "none";
		     textAuthorsFrames[sliderAuthorsFrame].style.display = "none";
		     pointAuthorsFrames[sliderAuthorsFrame].style.background = "url(content/sprites/point_ia.png) no-repeat";
		     sliderAuthorsFrame = index;
		     sliderAuthorsFrames[sliderAuthorsFrame].style.display = "block";
		     textAuthorsFrames[sliderAuthorsFrame].style.display = "block";
		     pointAuthorsFrames[sliderAuthorsFrame].style.background = "url(content/sprites/point_a.png) no-repeat";
		     document.getElementById("authorsNumber").innerHTML = sliderAuthorsFrame + 1 + "/" + authorsCount;
			 $('.scroll-pane').jScrollPane();

		 }
		 
		 var sliderScreensFrame;
		 var sliderScreensFrames;
		 
		 function sliderScreensInit() {
			document.getElementById("backScreens").style.display = "block";
			document.getElementById("back").style.display = "none";
			sliderScreensFrames = document.getElementById("sliderScreensContainer").children;
			pointScreensFrames = document.getElementById('screensPointContainer').children;
			document.getElementById('screensArrowsContainer').style.marginLeft = 20 + (-(62 + pointScreensFrames.length * 31) / 2) + "px";
			
			if (sliderScreensFrame == null) {
			    sliderScreensFrame = 0;
			}	
		 }
		 
		 function sliderScreensDecr() {
			if (sliderScreensFrames == null) {
				sliderScreensInit();
			}
			sliderScreensFrames[sliderScreensFrame].style.display = "none";
			pointScreensFrames[sliderScreensFrame].style.background = "url(content/sprites/point_ia.png) no-repeat";
			sliderScreensFrame--;
			if (sliderScreensFrame < 0) {
				sliderScreensFrame = 1;
			}
			sliderScreensFrames[sliderScreensFrame].style.display = "block";
			pointScreensFrames[sliderScreensFrame].style.background = "url(content/sprites/point_a.png) no-repeat";
		 }
		 
		 function sliderScreensIncr() {
			if (sliderScreensFrames == null) {
				sliderScreensInit();
			}
			sliderScreensFrames[sliderScreensFrame].style.display = "none";
			pointScreensFrames[sliderScreensFrame].style.background = "url(content/sprites/point_ia.png) no-repeat";
			sliderScreensFrame++;
			if (sliderScreensFrame > 1) {
				sliderScreensFrame = 0;
			}
			sliderScreensFrames[sliderScreensFrame].style.display = "block";
			pointScreensFrames[sliderScreensFrame].style.background = "url(content/sprites/point_a.png) no-repeat";
		 }
		 
		 function sliderScreensGoto(index) {
		     if (sliderScreensFrames == null) {
		         sliderScreensInit();
		     }
		     sliderScreensFrames[sliderScreensFrame].style.display = "none";
		     pointScreensFrames[sliderScreensFrame].style.background = "url(content/sprites/point_ia.png) no-repeat";
		     sliderScreensFrame = index;
		     sliderScreensFrames[sliderScreensFrame].style.display = "block";
		     pointScreensFrames[sliderScreensFrame].style.background = "url(content/sprites/point_a.png) no-repeat";
		     document.getElementById("ScreensNumber").innerHTML = sliderScreensFrame + 1 + "/2";

		 }
		 
		 function screensIncr() {
			document.getElementById('screenshots').children[currentScreen].style.display = "none";
			currentScreen++;
			if (currentScreen > 7) {
				currentScreen = 0;
			}
			document.getElementById('screenshots').children[currentScreen].style.display = "block";
		 }
		 
		 function screensDecr() {
			document.getElementById('screenshots').children[currentScreen].style.display = "none";
			currentScreen--;
			if (currentScreen < 0) {
				currentScreen = 7;
			}
			document.getElementById('screenshots').children[currentScreen].style.display = "block";
		 }
		 
		 var selected = 0;

         function selectAuthors() {
			 if (selected == 0)
				return;
			 selected = 0;
             sliderAuthorsInit();
             document.getElementById('authorsButton').src = "/ils2/Content/Sprites/about/authorsSel.png";
             document.getElementById('screensButton').src = "/ils2/Content/Sprites/about/screens.png"
             document.getElementById('awardsButton').src = "/ils2/Content/Sprites/about/awards.png"
             document.getElementById('achievementsButton').src = "/ils2/Content/Sprites/about/achievements.png"
             document.getElementById('authorsContainer').style.display = "block";
             document.getElementById('screensContainer').style.display = "none";
             document.getElementById('awardsContainer').style.display = "none";
             document.getElementById('achievementsContainer').style.display = "none";
			 $('.scroll-pane').jScrollPane();
         }

         function selectScreens() {
			 if (selected == 1)
				return;
			 selected = 1;
             sliderScreensInit();
             document.getElementById('authorsButton').src = "/ils2/Content/Sprites/about/authors.png";
             document.getElementById('screensButton').src = "/ils2/Content/Sprites/about/screensSel.png"
             document.getElementById('awardsButton').src = "/ils2/Content/Sprites/about/awards.png"
             document.getElementById('achievementsButton').src = "/ils2/Content/Sprites/about/achievements.png"
             document.getElementById('authorsContainer').style.display = "none";
             document.getElementById('screensContainer').style.display = "block";
             document.getElementById('awardsContainer').style.display = "none";
             document.getElementById('achievementsContainer').style.display = "none";
         }

         function selectAwards() {
			 if (selected == 2)
				return;
			 selected = 2;
			 sliderAwardsInit();
             document.getElementById('authorsButton').src = "/ils2/Content/Sprites/about/authors.png";
             document.getElementById('screensButton').src = "/ils2/Content/Sprites/about/screens.png"
             document.getElementById('awardsButton').src = "/ils2/Content/Sprites/about/awardsSel.png"
             document.getElementById('achievementsButton').src = "/ils2/Content/Sprites/about/achievements.png"
             document.getElementById('authorsContainer').style.display = "none";
             document.getElementById('screensContainer').style.display = "none";
             document.getElementById('awardsContainer').style.display = "block";
             document.getElementById('achievementsContainer').style.display = "none";
			 $('.scroll-pane').jScrollPane(); 
         }

         function selectAchievements() {
			 if (selected == 3)
				return;
			 selected = 3;
			 sliderAchievementsInit();
             document.getElementById('authorsButton').src = "/ils2/Content/Sprites/about/authors.png";
             document.getElementById('screensButton').src = "/ils2/Content/Sprites/about/screens.png"
             document.getElementById('awardsButton').src = "/ils2/Content/Sprites/about/awards.png"
             document.getElementById('achievementsButton').src = "/ils2/Content/Sprites/about/achievementsSel.png"
             document.getElementById('authorsContainer').style.display = "none";
             document.getElementById('screensContainer').style.display = "none";
             document.getElementById('awardsContainer').style.display = "none";
             document.getElementById('achievementsContainer').style.display = "block";
			 $('.scroll-pane').jScrollPane();
         }

         function demo_video() {
             var needSlice = (document.location.href.indexOf("http://") != -1);
             var url = document.location.href.slice(0, document.location.href.lastIndexOf("/") + 1);
             document.location.href = url + "render?action=video";
         }

         function demo_game() {
             var needSlice = (document.location.href.indexOf("http://") != -1);
             var url = document.location.href.slice(0, document.location.href.lastIndexOf("/") + 1);
             document.location.href = url + "render?action=game";
         }

		 function enlargeImage(src) {
			document.getElementById('fullsize').style.maxWidth = window.innerWidth;
			document.getElementById('fullsize').style.maxHeight = window.innerHeight;
			document.getElementById('fullsize').src = src;
			document.getElementById('blackout').style.display = 'block';
			document.getElementById('fullsize').style.left = '50%';
			document.getElementById('fullsize').style.top = '50%';
			function adjustSize() {
				document.getElementById('fullsize').style.display = 'block';
				document.getElementById('fullsize').style.marginLeft = - (document.getElementById('fullsize').width / 2) + 'px';
				document.getElementById('fullsize').style.marginTop = - (document.getElementById('fullsize').height / 2) + 'px';
				
			}
			setTimeout(adjustSize, 200);
		 }
		 
		 function hideImage() {
			document.getElementById('blackout').style.display = 'none';
			document.getElementById('fullsize').style.display = 'none';
		 }
		 
		 var currentScreen = 0;
		 
		 function showScreen(number) {
			document.getElementById('screenshots').style.display = "block";
			document.getElementById('screenshots').children[number - 1].style.display = "block";
			currentScreen = number - 1;
		 }
		 
		 function hideScreen(number) {
			document.getElementById('screenshots').style.display = "none";
			document.getElementById('screenshots').children[number - 1].style.display = "none";
			currentScreen = number - 1;
         }

    </script> 
}
@section topPanel{
    <div class="toppanel">
			<div class="toppanelleft">
				<a href = "render"><img src="/ils2/Content/Sprites/button_main_ia.png"><p align="center" style="position:absolute;top:-6px;left:13px;display:block;font-size: 13px;color: #eeeeee;letter-spacing:0.8px;line-height:30px;font-family: Futurica">Главная</p></a>
			</div>
			<div class="toppanelcenter">
				<a href = "about"><img src="/ils2/Content/Sprites/button_about_a.png"><p align="center" style="position:absolute;top:-6px;left:5px;display:block;font-size: 13px;color: #eeeeee;letter-spacing:0.8px;line-height:30px;font-family: Futurica">О проекте</p></a>
			</div>
			<div class="toppanelright">
				<a href = "contacts"><img src="/ils2/Content/Sprites/button_contact_ia.png"><p align="center" style="position:absolute;top:-6px;left:9px;display:block;font-size: 13px;color: #eeeeee;letter-spacing:0.8px;line-height:30px;font-family: Futurica">Контакты</p></a>
			</div>
		</div>
}
@section renderArea{
    <div class="renderarea">
        <img id="updater" src="/ils2/Content/Sprites/black_back.png" style="display:block; position:absolute;top:0px;left:0px;">
        <img id="back" src="/ils2/Content/Sprites/back.png" style="display:block; position:absolute;top:0px;left:0px;">
		<img id="backScreens" src="/ils2/Content/Sprites/back_screens.png" style="display:none; position:absolute;top:0px;left:0px;">
        <img src="/ils2/Content/Sprites/logo.png" class="logo">
        <div class="dots" id="dotsContainer">
            <img src="/ils2/Content/Sprites/dots/dots_1.png" style="display:block">
            <img src="/ils2/Content/Sprites/dots/dots_2.png" style="display:none">
            <img src="/ils2/Content/Sprites/dots/dots_3.png" style="display:none">
            <img src="/ils2/Content/Sprites/dots/dots_4.png" style="display:none">
            <img src="/ils2/Content/Sprites/dots/dots_5.png" style="display:none">
            <img src="/ils2/Content/Sprites/dots/dots_6.png" style="display:none">
            <img src="/ils2/Content/Sprites/dots/dots_7.png" style="display:none">
            <img src="/ils2/Content/Sprites/dots/dots_8.png" style="display:none">
            <img src="/ils2/Content/Sprites/dots/dots_9.png" style="display:none">
            <img src="/ils2/Content/Sprites/dots/dots_10.png" style="display:none">
            <img src="/ils2/Content/Sprites/dots/dots_11.png" style="display:none">
            <img src="/ils2/Content/Sprites/dots/dots_12.png" style="display:none">
            <img src="/ils2/Content/Sprites/dots/dots_13.png" style="display:none">
            <img src="/ils2/Content/Sprites/dots/dots_14.png" style="display:none">
            <img src="/ils2/Content/Sprites/dots/dots_15.png" style="display:none">
        </div>
		<div class="textarea">
            <br>
            <div id="headers" class="headers">
                <a href="javascript:selectAuthors()"><img src="/ils2/Content/Sprites/about/authorsSel.png" id="authorsButton"></a>
                <a href="javascript:selectScreens()"><img src="/ils2/Content/Sprites/about/screens.png" id="screensButton"></a>
                <a href="javascript:selectAwards()"><img src="/ils2/Content/Sprites/about/awards.png" id="awardsButton"></a>
                <a href="javascript:selectAchievements()"><img src="/ils2/Content/Sprites/about/achievements.png" id="achievementsButton"></a>
            </div>
            <br>
			<div id="authorsContainer" style="display:block">
                <div class="slider_authors" id = "slider_authors">
			        <div class="slider_authors_frame"></div>			        
			        <div class="slider_authors_content" id="sliderAuthorsContainer"></div>
		        </div>
		        <div class="arrows_container" id="authorsArrowsContainer">
					<div class="arrow" style="background: url(content/sprites/arrow_left_ia.png) no-repeat;" onclick="javascript:sliderAuthorsDecr()"></div>
					<div id="authorsPointContainer">
					</div>
			        <div class="arrow" style="background: url(content/sprites/arrow_right_ia.png) no-repeat;" onclick="javascript:sliderAuthorsIncr()"></div>
                    <p id="authorsNumber" style="position:absolute; margin-top: 5px; margin-left: 320px; display:block;font-size: 14px;color: #eeeeee;letter-spacing:0.8px;line-height:20px;font-family: Futurica"></p>
		        </div>
                <div id="textAuthorsContainer">
				</div>
			</div>
			<div id="screensContainer" style="display:none">    
				<div class="slider_screen_content" id="sliderScreensContainer">
					<div>
						<img class="screen_lt" src="/ils2/Content/Sprites/screens/1.jpg" onclick="javascript:showScreen('1')" style="cursor: pointer;">
						<img class="screen_mt" src="/ils2/Content/Sprites/screens/2.jpg" onclick="javascript:showScreen('2')" style="cursor: pointer;">
						<img class="screen_rt" src="/ils2/Content/Sprites/screens/3.jpg" onclick="javascript:showScreen('3')" style="cursor: pointer;">
						<img class="screen_lb" src="/ils2/Content/Sprites/screens/4.jpg" onclick="javascript:showScreen('4')" style="cursor: pointer;">
						<img class="screen_mb" src="/ils2/Content/Sprites/screens/5.jpg" onclick="javascript:showScreen('5')" style="cursor: pointer;">
						<img class="screen_rb" src="/ils2/Content/Sprites/screens/6.jpg" onclick="javascript:showScreen('6')" style="cursor: pointer;">
					</div>
					<div style="display:none">
						<img class="screen_lt" src="/ils2/Content/Sprites/screens/7.jpg" onclick="javascript:showScreen('7')" style="cursor: pointer;">
						<img class="screen_mt" src="/ils2/Content/Sprites/screens/8.jpg" onclick="javascript:showScreen('8')" style="cursor: pointer;">
					</div>
				</div>
				<div class="arrows_container" id="screensArrowsContainer" style="display:none">
					<div class="arrow" style="background: url(content/sprites/arrow_left_ia.png) no-repeat;" onclick="javascript:sliderScreensDecr()"></div>
					<div id="screensPointContainer">
						<div class="arrow" style="background: url(content/sprites/point_a.png) no-repeat;" onclick="javascript:sliderScreensGoto('0')"></div>
						<div class="arrow" style="background: url(content/sprites/point_ia.png) no-repeat;" onclick="javascript:sliderScreensGoto('1')"></div>
					</div>
			        <div class="arrow" style="background: url(content/sprites/arrow_right_ia.png) no-repeat;" onclick="javascript:sliderScreensIncr()"></div>
		        </div>
				<div class="big_arrow_left" onclick="javascript:sliderScreensDecr()" style="cursor: pointer;"></div>
				<div class="big_arrow_right" onclick="javascript:sliderScreensIncr()" style="cursor: pointer;"></div>
            </div>
			<div id="awardsContainer" style="display:none">
                <div class="slider_awards" id = "slider_awards">
			        <div class="slider_awards_frame"></div>			  
					<div class="slider_awards_left" onclick="javascript:sliderAwardsImgDecr()"></div>		
					<div class="slider_awards_right" onclick="javascript:sliderAwardsImgIncr()"></div>							
			        <div class="slider_awards_content" id="sliderAwardsContainer">
					</div>
		        </div>
		        <div class="arrows_container" id="awardsArrowsContainer">
					<div class="arrow" style="background: url(content/sprites/arrow_left_ia.png) no-repeat;" onclick="javascript:sliderAwardsDecr()"></div>
					<div id="awardsPointContainer"></div>
			        <div class="arrow" style="background: url(content/sprites/arrow_right_ia.png) no-repeat;" onclick="javascript:sliderAwardsIncr()"></div>
                    <p id="awardsNumber" style="position:absolute; margin-top: 5px; margin-left: 320px; display:block;font-size: 14px;color: #eeeeee;letter-spacing:0.8px;line-height:20px;font-family: Futurica"></p>
		        </div>
                <div id="textAwardsContainer">
					</div>
			</div>
            <div id="achievementsContainer" style="display:none">
                <div class="slider_awards" id = "slider_achievements">
			        <div class="slider_awards_frame"></div>			  
					<div class="slider_awards_left" onclick="javascript:sliderAchievementsImgDecr()"></div>		
					<div class="slider_awards_right" onclick="javascript:sliderAchievementsImgIncr()"></div>							
			        <div class="slider_awards_content" id="sliderAchievementsContainer">
					</div>
		        </div>
		        <div class="arrows_container" id="achievementsArrowsContainer">
					<div class="arrow" style="background: url(content/sprites/arrow_left_ia.png) no-repeat;" onclick="javascript:sliderAchievementsDecr()"></div>
					<div id="achievementsPointContainer"></div>
			        <div class="arrow" style="background: url(content/sprites/arrow_right_ia.png) no-repeat;" onclick="javascript:sliderAchievementsIncr()"></div>
                    <p id="achievementsNumber" style="position:absolute; margin-top: 5px; margin-left: 320px; display:block;font-size: 14px;color: #eeeeee;letter-spacing:0.8px;line-height:20px;font-family: Futurica"></p>
		        </div>
                <div id="textAchievementsContainer">
					</div>
			</div>
		</div>
		<div id="screenshots" style="position:absolute;background: #000000;width:809px;height:400px;display:none;overflow:hidden" style="cursor: pointer;">
			<div style="position:absolute;left:530px;display:none;width:809px;height:400px;margin-left:-404px;cursor:pointer;" onclick="javascript:hideScreen('1')">
                <img align="middle" src="/ils2/Content/Sprites/screens/full/1.png" style="max-width: 809px; max-height:400px; left:50%">
            </div>
            <div style="position:absolute;left:535px;display:none;width:809px;height:400px;margin-left:-404px;cursor:pointer;" onclick="javascript:hideScreen('2')">
                <img align="middle" src="/ils2/Content/Sprites/screens/full/2.png" style="max-width: 809px; max-height:400px">
            </div>
            <div style="position:absolute;top:10px;left:50%;display:none;width:809px;height:400px;margin-left:-404px;cursor:pointer;" onclick="javascript:hideScreen('3')">
                <img align="middle" src="/ils2/Content/Sprites/screens/full/3.png" style="max-width: 809px; max-height:400px">
            </div>
            <div style="position:absolute;left:510px;display:none;width:809px;height:400px;margin-left:-404px;cursor:pointer;" onclick="javascript:hideScreen('4')">
                <img align="middle" src="/ils2/Content/Sprites/screens/full/4.png" style="max-width: 809px; max-height:400px">
            </div>
            <div style="position:absolute;left:510px;display:none;width:809px;height:400px;margin-left:-404px;cursor:pointer;" onclick="javascript:hideScreen('5')">
                <img align="middle" src="/ils2/Content/Sprites/screens/full/5.png" style="max-width: 809px; max-height:400px">
            </div>
            <div style="position:absolute;left:610px;display:none;width:809px;height:400px;margin-left:-404px;cursor:pointer;" onclick="javascript:hideScreen('6')">
                <img align="middle" src="/ils2/Content/Sprites/screens/full/6.png" style="max-width: 809px; max-height:400px">
            </div>
            <div style="position:absolute;left:585px;display:none;width:809px;height:400px;margin-left:-404px;cursor:pointer;" onclick="javascript:hideScreen('7')">
                <img align="middle" src="/ils2/Content/Sprites/screens/full/7.png" style="max-width: 809px; max-height:400px">
            </div>
            <div style="position:absolute;left:505px;display:none;width:809px;height:400px;margin-left:-404px;cursor:pointer;" onclick="javascript:hideScreen('8')">
                <img align="middle" src="/ils2/Content/Sprites/screens/full/8.png" style="max-width: 809px; max-height:400px">
            </div>
			<div class="screens_left" onclick="javascript:screensDecr()" style="cursor:ponter;"></div>
			<div class="screens_right" onclick="javascript:screensIncr()" style="cursor:ponter;"></div>
		</div>
	</div>

}
@section end {
		<div id="blackout" style="background: #000000;opacity:0.2;display:none;width:100%;height:100%;position:absolute">      
		</div>	
		<img id="fullsize" align="middle" style="position:absolute;display:none;cursor: pointer;max-width: 1300px; max-height:700px;" onclick="javascript:hideImage()">
}

