@{
    ViewBag.Title = "3Ducation | Виртуальный мир";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

@section additionalCSS {
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/about.css")"/>
}
@section scripts{
     <script type="text/javascript">

         document.ready = $(function () {
             $('.scroll-pane').jScrollPane();
         });

         window.onload = function () {
             var updaterTop = -400;
             var updaterTimer;
             var updater = document.getElementById("updater");
             function update() {
                 updater.style.top = updaterTop + 'px';
                 updaterTop += 3;
                 if (updaterTop > 800)
                     updaterTop = -400;
             }
             updaterTimer = setInterval(update, 10);

             var frameVisors = 0;
             var timerVisors;
             var framesVisors = document.getElementById("visorsContainer").children;
             function visors() {
                 framesVisors[frameVisors].style.display = "none";
                 frameVisors++;
                 if (frameVisors == 15) {
                     frameVisors = 0;
                 }
                 framesVisors[frameVisors].style.display = "block";
             }
             timerVisors = setInterval(visors, 40);

             var frameDots = 0;
             var timerDots;
             var framesDots = document.getElementById("dotsContainer").children;
             function Dots() {
                 framesDots[frameDots].style.display = "none";
                 frameDots++;
                 if (frameDots == 15) {
                     frameDots = 0;
                 }
                 framesDots[frameDots].style.display = "block";
             }
             timerDots = setInterval(Dots, 120);
			 
			 sliderAuthorsInit();
         }
         		 
		 var sliderAuthorsFrame;
		 var sliderAuthorsFrames;
		 var pointAuthorsFrames;
		 var pointScreensFrames;
		 var textAuthorsFrames;
		 var textScreensFrames;
		 
		 function sliderAuthorsInit() {
			sliderAuthorsFrames = document.getElementById("sliderAuthorsContainer").children;
			textAuthorsFrames = document.getElementById('textAuthorsContainer').children;
			pointAuthorsFrames = document.getElementById('authorsPointContainer').children;
			document.getElementById('authorsArrowsContainer').style.marginLeft = 20 + ( - (62 + pointAuthorsFrames.length * 31) / 2) + "px";
			if (sliderAuthorsFrame == null) {
				sliderAuthorsFrame = 0;
			}
            for (i = 1; i < 12; i++) {
                textAuthorsFrames[i].style.display = "none";
            }
            document.getElementById("authorsNumber").innerHTML = "1/12";
		 }
		 
		 function sliderAuthorsDecr() {
			if (sliderAuthorsFrames == null) {
				sliderAuthorsInit();
			}
			sliderAuthorsFrames[sliderAuthorsFrame].style.display = "none";
			textAuthorsFrames[sliderAuthorsFrame].style.display = "none";
			pointAuthorsFrames[sliderAuthorsFrame].style.background = "url(content/sprites/point_ia.png) no-repeat";
			sliderAuthorsFrame--;
			if (sliderAuthorsFrame < 0) {
				sliderAuthorsFrame = 11;
			}
			sliderAuthorsFrames[sliderAuthorsFrame].style.display = "block";
			textAuthorsFrames[sliderAuthorsFrame].style.display = "block";
			pointAuthorsFrames[sliderAuthorsFrame].style.background = "url(content/sprites/point_a.png) no-repeat";
			document.getElementById("authorsNumber").innerHTML = sliderAuthorsFrame + 1 + "/12";
		 }
		 
		 function sliderAuthorsIncr() {
			if (sliderAuthorsFrames == null) {
				sliderAuthorsInit();
			}
			sliderAuthorsFrames[sliderAuthorsFrame].style.display = "none";
			textAuthorsFrames[sliderAuthorsFrame].style.display = "none";
			pointAuthorsFrames[sliderAuthorsFrame].style.background = "url(content/sprites/point_ia.png) no-repeat";
			sliderAuthorsFrame++;
			if (sliderAuthorsFrame > 11) {
				sliderAuthorsFrame = 0;
			}
			sliderAuthorsFrames[sliderAuthorsFrame].style.display = "block";
			textAuthorsFrames[sliderAuthorsFrame].style.display = "block";
			pointAuthorsFrames[sliderAuthorsFrame].style.background = "url(content/sprites/point_a.png) no-repeat";
			document.getElementById("authorsNumber").innerHTML = sliderAuthorsFrame + 1 + "/12";
		 }

		 function sliderAuthorsGoto(index) {
		     if (sliderAuthorsFrames == null) {
		         sliderAuthorsInit();
		     }
		     sliderAuthorsFrames[sliderAuthorsFrame].style.display = "none";
		     textAuthorsFrames[sliderAuthorsFrame].style.display = "none";
		     pointAuthorsFrames[sliderAuthorsFrame].style.background = "url(content/sprites/point_ia.png) no-repeat";
		     sliderAuthorsFrame = index;
		     sliderAuthorsFrames[sliderAuthorsFrame].style.display = "block";
		     textAuthorsFrames[sliderAuthorsFrame].style.display = "block";
		     pointAuthorsFrames[sliderAuthorsFrame].style.background = "url(content/sprites/point_a.png) no-repeat";
		     document.getElementById("authorsNumber").innerHTML = sliderAuthorsFrame + 1 + "/12";

		 }
		 
		 var sliderScreensFrame;
		 var sliderScreensFrames;
		 
		 function sliderScreensInit() {
			sliderScreensFrames = document.getElementById("sliderScreensContainer").children;
			textScreensFrames = document.getElementById('textScreensContainer').children;
			pointScreensFrames = document.getElementById('screensPointContainer').children;
			document.getElementById('screensArrowsContainer').style.marginLeft = 20 + (-(62 + pointScreensFrames.length * 31) / 2) + "px";
			
			if (sliderScreensFrame == null) {
			    sliderScreensFrame = 0;
			}	
		 }
		 
		 function sliderScreensDecr() {
			if (sliderScreensFrames == null) {
				sliderScreensInit();
			}
			sliderScreensFrames[sliderScreensFrame].style.display = "none";
			textScreensFrames[sliderScreensFrame].style.display = "none";
			pointScreensFrames[sliderScreensFrame].style.background = "url(content/sprites/point_ia.png) no-repeat";
			sliderScreensFrame--;
			if (sliderScreensFrame < 0) {
				sliderScreensFrame = 1;
			}
			sliderScreensFrames[sliderScreensFrame].style.display = "block";
			textScreensFrames[sliderScreensFrame].style.display = "block";
			pointScreensFrames[sliderScreensFrame].style.background = "url(content/sprites/point_a.png) no-repeat";
		 }
		 
		 function sliderScreensIncr() {
			if (sliderScreensFrames == null) {
				sliderScreensInit();
			}
			sliderScreensFrames[sliderScreensFrame].style.display = "none";
			textScreensFrames[sliderScreensFrame].style.display = "none";
			pointScreensFrames[sliderScreensFrame].style.background = "url(content/sprites/point_ia.png) no-repeat";
			sliderScreensFrame++;
			if (sliderScreensFrame > 1) {
				sliderScreensFrame = 0;
			}
			sliderScreensFrames[sliderScreensFrame].style.display = "block";
			textScreensFrames[sliderScreensFrame].style.display = "block";
			pointScreensFrames[sliderScreensFrame].style.background = "url(content/sprites/point_a.png) no-repeat";
		 }
		 
		 function sliderScreensGoto(index) {
		     if (sliderScreensFrames == null) {
		         sliderScreensInit();
		     }
		     sliderScreensFrames[sliderScreensFrame].style.display = "none";
		     textScreensFrames[sliderScreensFrame].style.display = "none";
		     pointScreensFrames[sliderScreensFrame].style.background = "url(content/sprites/point_ia.png) no-repeat";
		     sliderScreensFrame = index;
		     sliderScreensFrames[sliderScreensFrame].style.display = "block";
		     textScreensFrames[sliderScreensFrame].style.display = "block";
		     pointScreensFrames[sliderScreensFrame].style.background = "url(content/sprites/point_a.png) no-repeat";
		     document.getElementById("ScreensNumber").innerHTML = sliderScreensFrame + 1 + "/2";

		 }
		 
		 var currentScreen = 0;
		 
		 function showScreen(number) {
			document.getElementById('blackout').style.display = "block";
			document.getElementById('blackout').children[number - 1].style.display = "block";
			currentScreen = number - 1;
		 }
		 
		 function hideScreen(number) {
			document.getElementById('blackout').style.display = "none";
			document.getElementById('blackout').children[number - 1].style.display = "none";
			currentScreen = number - 1;
         }
		 
		 function screensIncr() {
			document.getElementById('blackout').children[currentScreen].style.display = "none";
			currentScreen++;
			if (currentScreen > 7) {
				currentScreen = 0;
			}
			document.getElementById('blackout').children[currentScreen].style.display = "block";
		 }
		 
		 function screensDecr() {
			document.getElementById('blackout').children[currentScreen].style.display = "none";
			currentScreen--;
			if (currentScreen < 0) {
				currentScreen = 7;
			}
			document.getElementById('blackout').children[currentScreen].style.display = "block";
		 }

         function selectAuthors() {
             sliderAuthorsInit();
             document.getElementById('authorsButton').src = "/ils2/Content/Sprites/about/authorsSel.png";
             document.getElementById('screensButton').src = "/ils2/Content/Sprites/about/screens.png"
             document.getElementById('awardsButton').src = "/ils2/Content/Sprites/about/awards.png"
             document.getElementById('achievementsButton').src = "/ils2/Content/Sprites/about/achievements.png"
             document.getElementById('authorsContainer').style.display = "block";
             document.getElementById('screensContainer').style.display = "none";
             document.getElementById('awardsContainer').style.display = "none";
             document.getElementById('achievementsContainer').style.display = "none";
         }

         function selectScreens() {
             sliderScreensInit();
             document.getElementById('authorsButton').src = "/ils2/Content/Sprites/about/authors.png";
             document.getElementById('screensButton').src = "/ils2/Content/Sprites/about/screensSel.png"
             document.getElementById('awardsButton').src = "/ils2/Content/Sprites/about/awards.png"
             document.getElementById('achievementsButton').src = "/ils2/Content/Sprites/about/achievements.png"
             document.getElementById('authorsContainer').style.display = "none";
             document.getElementById('screensContainer').style.display = "block";
             document.getElementById('awardsContainer').style.display = "none";
             document.getElementById('achievementsContainer').style.display = "none";
         }

         function selectAwards() {
             document.getElementById('authorsButton').src = "/ils2/Content/Sprites/about/authors.png";
             document.getElementById('screensButton').src = "/ils2/Content/Sprites/about/screens.png"
             document.getElementById('awardsButton').src = "/ils2/Content/Sprites/about/awardsSel.png"
             document.getElementById('achievementsButton').src = "/ils2/Content/Sprites/about/achievements.png"
             document.getElementById('authorsContainer').style.display = "none";
             document.getElementById('screensContainer').style.display = "none";
             document.getElementById('awardsContainer').style.display = "block";
             document.getElementById('achievementsContainer').style.display = "none";
         }

         function selectAchievements() {
             document.getElementById('authorsButton').src = "/ils2/Content/Sprites/about/authors.png";
             document.getElementById('screensButton').src = "/ils2/Content/Sprites/about/screens.png"
             document.getElementById('awardsButton').src = "/ils2/Content/Sprites/about/awards.png"
             document.getElementById('achievementsButton').src = "/ils2/Content/Sprites/about/achievementsSel.png"
             document.getElementById('authorsContainer').style.display = "none";
             document.getElementById('screensContainer').style.display = "none";
             document.getElementById('awardsContainer').style.display = "none";
             document.getElementById('achievementsContainer').style.display = "block";
         }

         function demo_video() {
             var needSlice = (document.location.href.indexOf("http://") != -1);
             var url = document.location.href.slice(0, document.location.href.lastIndexOf("/") + 1);
             document.location.href = url + "render?action=video";
         }

         function demo_game() {
             var needSlice = (document.location.href.indexOf("http://") != -1);
             var url = document.location.href.slice(0, document.location.href.lastIndexOf("/") + 1);
             document.location.href = url + "render?action=game";
         }


    </script> 
}
@section topPanel{
    <div class="toppanel">
			<div class="toppanelleft">
				<a href = "render"><img src="/ils2/Content/Sprites/button_main_ia.png"><p align="center" style="position:absolute;top:-6px;left:13px;display:block;font-size: 13px;color: #eeeeee;letter-spacing:0.8px;line-height:30px;font-family: Futurica">Главная</p></a>
			</div>
			<div class="toppanelcenter">
				<a href = "about"><img src="/ils2/Content/Sprites/button_about_a.png"><p align="center" style="position:absolute;top:-6px;left:5px;display:block;font-size: 13px;color: #eeeeee;letter-spacing:0.8px;line-height:30px;font-family: Futurica">О проекте</p></a>
			</div>
			<div class="toppanelright">
				<a href = "contacts"><img src="/ils2/Content/Sprites/button_contact_ia.png"><p align="center" style="position:absolute;top:-6px;left:9px;display:block;font-size: 13px;color: #eeeeee;letter-spacing:0.8px;line-height:30px;font-family: Futurica">Контакты</p></a>
			</div>
		</div>
}
@section renderArea{
    <div class="renderarea">
        <img id="updater" src="/ils2/Content/Sprites/black_back.png" style="display:block; position:absolute;top:0px;left:0px;">
        <img src="/ils2/Content/Sprites/back.png" style="display:block; position:absolute;top:0px;left:0px;">
        <img src="/ils2/Content/Sprites/logo.png" class="logo">
        <div class="dots" id="dotsContainer">
            <img src="/ils2/Content/Sprites/dots/dots_1.png" style="display:block">
            <img src="/ils2/Content/Sprites/dots/dots_2.png" style="display:none">
            <img src="/ils2/Content/Sprites/dots/dots_3.png" style="display:none">
            <img src="/ils2/Content/Sprites/dots/dots_4.png" style="display:none">
            <img src="/ils2/Content/Sprites/dots/dots_5.png" style="display:none">
            <img src="/ils2/Content/Sprites/dots/dots_6.png" style="display:none">
            <img src="/ils2/Content/Sprites/dots/dots_7.png" style="display:none">
            <img src="/ils2/Content/Sprites/dots/dots_8.png" style="display:none">
            <img src="/ils2/Content/Sprites/dots/dots_9.png" style="display:none">
            <img src="/ils2/Content/Sprites/dots/dots_10.png" style="display:none">
            <img src="/ils2/Content/Sprites/dots/dots_11.png" style="display:none">
            <img src="/ils2/Content/Sprites/dots/dots_12.png" style="display:none">
            <img src="/ils2/Content/Sprites/dots/dots_13.png" style="display:none">
            <img src="/ils2/Content/Sprites/dots/dots_14.png" style="display:none">
            <img src="/ils2/Content/Sprites/dots/dots_15.png" style="display:none">
        </div>
		<div class="textarea">
            <br>
            <div id="headers" class="headers">
                <img src="/ils2/Content/Sprites/about/authorsSel.png" id="authorsButton" onclick="javascript:selectAuthors()" style="cursor: pointer;">
                <img src="/ils2/Content/Sprites/about/screens.png" id="screensButton" onclick="javascript:selectScreens()" style="cursor: pointer;">
                <img src="/ils2/Content/Sprites/about/awards.png" id="awardsButton" onclick="javascript:selectAwards()" style="cursor: pointer;">
                <img src="/ils2/Content/Sprites/about/achievements.png" id="achievementsButton" onclick="javascript:selectAchievements()" style="cursor: pointer;">
            </div>
            <br>
			<div id="authorsContainer" style="display:block">
                <div class="slider_authors" id = "slider_authors">
			        <div class="slider_authors_frame">
			        </div>
			        
			        <div class="slider_authors_content" id="sliderAuthorsContainer">
				        <img src="/ils2/Content/Sprites/authors/author_1.jpg" style="display:block">
				        <img src="/ils2/Content/Sprites/authors/author_11.jpg" style="display:none">
				        <img src="/ils2/Content/Sprites/authors/author_2.jpg" style="display:none">
				        <img src="/ils2/Content/Sprites/authors/author_9.jpg" style="display:none">
				        <img src="/ils2/Content/Sprites/authors/author_6.jpg" style="display:none">
				        <img src="/ils2/Content/Sprites/authors/author_8.jpg" style="display:none">
				        <img src="/ils2/Content/Sprites/authors/author_10.jpg" style="display:none">
				        <img src="/ils2/Content/Sprites/authors/author_3.jpg" style="display:none">
				        <img src="/ils2/Content/Sprites/authors/author_4.jpg" style="display:none">
				        <img src="/ils2/Content/Sprites/authors/author_5.jpg" style="display:none">
				        <img src="/ils2/Content/Sprites/authors/author_7.jpg" style="display:none">
						<img src="/ils2/Content/Sprites/authors/author_12.jpg" style="display:none">
			        </div>
		        </div>
		        <div class="arrows_container" id="authorsArrowsContainer">
					<div class="arrow" style="background: url(content/sprites/arrow_left_ia.png) no-repeat;" onclick="javascript:sliderAuthorsDecr()"></div>
					<div id="authorsPointContainer">
						<div class="arrow" style="background: url(content/sprites/point_a.png) no-repeat;" onclick="javascript:sliderAuthorsGoto(0)"></div>
						<div class="arrow" style="background: url(content/sprites/point_ia.png) no-repeat;" onclick="javascript:sliderAuthorsGoto(1)"></div>
						<div class="arrow" style="background: url(content/sprites/point_ia.png) no-repeat;" onclick="javascript:sliderAuthorsGoto(2)"></div>
						<div class="arrow" style="background: url(content/sprites/point_ia.png) no-repeat;" onclick="javascript:sliderAuthorsGoto(3)"></div>
						<div class="arrow" style="background: url(content/sprites/point_ia.png) no-repeat;" onclick="javascript:sliderAuthorsGoto(4)"></div>
						<div class="arrow" style="background: url(content/sprites/point_ia.png) no-repeat;" onclick="javascript:sliderAuthorsGoto(5)"></div>
						<div class="arrow" style="background: url(content/sprites/point_ia.png) no-repeat;" onclick="javascript:sliderAuthorsGoto(6)"></div>
						<div class="arrow" style="background: url(content/sprites/point_ia.png) no-repeat;" onclick="javascript:sliderAuthorsGoto(7)"></div>
						<div class="arrow" style="background: url(content/sprites/point_ia.png) no-repeat;" onclick="javascript:sliderAuthorsGoto(8)"></div>
						<div class="arrow" style="background: url(content/sprites/point_ia.png) no-repeat;" onclick="javascript:sliderAuthorsGoto(9)"></div>
						<div class="arrow" style="background: url(content/sprites/point_ia.png) no-repeat;" onclick="javascript:sliderAuthorsGoto(10)"></div>
						<div class="arrow" style="background: url(content/sprites/point_ia.png) no-repeat;" onclick="javascript:sliderAuthorsGoto(11)"></div>
					</div>
			        <div class="arrow" style="background: url(content/sprites/arrow_right_ia.png) no-repeat;" onclick="javascript:sliderAuthorsIncr()"></div>
                    <p id="authorsNumber" style="position:absolute; margin-top: 5px; margin-left: 320px; display:block;font-size: 14px;color: #eeeeee;letter-spacing:0.8px;line-height:20px;font-family: Futurica"></p>
		        </div>
                <div id="textAuthorsContainer">
                    <div class="text-pane">
				        <p align="center" style="display:block;font-size: 24px;color: #eeeeee;letter-spacing:0.8px;line-height:20px;font-family: Futurica">Зеленко Лариса Сергеевна</p>
                        <div class="scroll-pane">
                            <p align="justify" style="display:block;margin-top:-3px;font-size: 14px;color: #eeeeee;letter-spacing:0.8px;line-height:20px;font-family: Futurica">
                                Руководитель проекта, доцент кафедры программных систем СГАУ, кандидат технических наук. Основатель и идейный вдохновитель проекта, занимается разработкой обучающих программ и дистанционных систем управления, а так же внедрением новых образовательных и информационных технологий в учебный процесс. Имеет более 50 публикаций по данной тематике. 
                            </p>
                        </div>
                    </div>
                    <div class="text-pane">
				        <p align="center" style="display:block;font-size: 24px;color: #eeeeee;letter-spacing:0.8px;line-height:20px;font-family: Futurica">Загуменнов Дмитрий</p>
                        <div class="scroll-pane">
                            <p align="justify" style="display:block;margin-top:-3px;font-size: 14px;color: #eeeeee;letter-spacing:0.8px;line-height:20px;font-family: Futurica">
                                Главный архитектор системы, аспирант кафедры программных систем СГАУ, закончил СГАУ по специальности «Автоматизированные системы обработки информации и управления». В проекте с 2010 года, разработал архитектуру системы, исследовал технологии виртуальных миров, обосновал выбор технологии Unity, с помощью которой реализована система. Разработал модель данных системы и генератор виртуального обучающего пространства. Является дипломантом многих Международных и Всероссийских конкурсов и конференций, где представлял данную систему, имеет около 20 публикаций по данной тематике. 
                            </p>
                        </div>
                    </div>
                    <div class="text-pane">
				        <p align="center" style="display:block;font-size: 24px;color: #eeeeee;letter-spacing:0.8px;line-height:20px;font-family: Futurica">Зинченко Алексей</p>
                        <div class="scroll-pane">
                            <p align="justify" style="display:block;margin-top:-3px;font-size: 14px;color: #eeeeee;letter-spacing:0.8px;line-height:20px;font-family: Futurica">
                                Архитектор системы, выпускник СГАУ, закончил магистратуру по направлению «Фундаментальные информатика и информационные технологии». В проекте с 2011 года, разработал редактор учебных курсов, участвовал в разработке модели данных, исследовал технологии разработки мобильных приложений, реализовал мобильное приложение под ОС iOS. Является победителем проекта «У.М.Н.И.К.-2012» в команде участников. Имеет более 10 публикаций по данной тематике, выступал на Международных и Всероссийских конкурсах и конференциях, где его работы были отмечены дипломами и грамотами.
                            </p>
                        </div>
                    </div>
                    <div class="text-pane">
				        <p align="center" style="display:block;font-size: 24px;color: #eeeeee;letter-spacing:0.8px;line-height:20px;font-family: Futurica">Белов Константин</p>
                        <div class="scroll-pane">
                            <p align="justify" style="display:block;margin-top:-3px;font-size: 14px;color: #eeeeee;letter-spacing:0.8px;line-height:20px;font-family: Futurica">
                                Главный разработчик системы, магистрант по направлению «Фундаментальные информатика и информационные технологии». В проекте с 2011 года, разработал систему анимирования персонажей, в настоящее время занимается разработкой  сетевой версии системы (клиентская часть), провел исследования и обосновал выбор сетевых технологий и протоколов обмена данными. Является победителем проекта «У.М.Н.И.К.-2012» в команде участников. Имеет более 15 публикаций по данной тематике, выступал на Международных и Всероссийских конкурсах и конференциях, где его работы были отмечены дипломами и грамотами.
							</p>
                        </div>
                    </div>
                    <div class="text-pane">
				        <p align="center" style="display:block;font-size: 24px;color: #eeeeee;letter-spacing:0.8px;line-height:20px;font-family: Futurica">Петрухин Иван</p>
                        <div class="scroll-pane">
                            <p align="justify" style="display:block;margin-top:-3px;font-size: 14px;color: #eeeeee;letter-spacing:0.8px;line-height:20px;font-family: Futurica">
                                Главный разработчик системы, магистрант по направлению «Фундаментальные информатика и информационные технологии». В проекте с 2011 года, разработал первых  персонажей системы, в настоящее время занимается разработкой  сетевой версии системы (серверная часть), провел исследования и обосновал выбор сетевых технологий и протоколов обмена данными. Является победителем проекта «У.М.Н.И.К.-2012» в команде участников. Имеет более 15 публикаций по данной тематике, выступал на Международных и Всероссийских конкурсах и конференциях, где его работы были отмечены дипломами и грамотами.
							</p>
                        </div>
                    </div>
                    <div class="text-pane">
				        <p align="center" style="display:block;font-size: 24px;color: #eeeeee;letter-spacing:0.8px;line-height:20px;font-family: Futurica">Халитов Ильдар</p>
                        <div class="scroll-pane">
                            <p align="justify" style="display:block;margin-top:-3px;font-size: 14px;color: #eeeeee;letter-spacing:0.8px;line-height:20px;font-family: Futurica">
                                Разработчик системы, магистрант по направлению «Фундаментальные информатика и информационные технологии». В проекте с 2010 года, разработал подсистему визуализации системы, исследовал шейдерные технологии, с помощью которых реализовано виртуальное пространство (лекционные комнаты, комнаты тестирования, обучающие локации) и все трехмерные объекты. Является победителем проекта «У.М.Н.И.К.-2012» в команде участников. Имеет более 10 публикаций по данной тематике, выступал на Международных и Всероссийских конкурсах и конференциях, где его работы были отмечены дипломами и грамотами.
						    </p>
                        </div>
                    </div>
                    <div class="text-pane">
				        <p align="center" style="display:block;font-size: 24px;color: #eeeeee;letter-spacing:0.8px;line-height:20px;font-family: Futurica">Григорьев Александр</p>
                        <div class="scroll-pane">
                            <p align="justify" style="display:block;margin-top:-3px;font-size: 14px;color: #eeeeee;letter-spacing:0.8px;line-height:20px;font-family: Futurica">
                            </p>
                        </div>
                    </div>
                    <div class="text-pane">
				        <p align="center" style="display:block;font-size: 24px;color: #eeeeee;letter-spacing:0.8px;line-height:20px;font-family: Futurica">Иванов Виталий</p>
                        <div class="scroll-pane">
                            <p align="justify" style="display:block;margin-top:-3px;font-size: 14px;color: #eeeeee;letter-spacing:0.8px;line-height:20px;font-family: Futurica">
                            </p>
                        </div>
                    </div>
                    <div class="text-pane">
				        <p align="center" style="display:block;font-size: 24px;color: #eeeeee;letter-spacing:0.8px;line-height:20px;font-family: Futurica">Конопелькин Дмитрий</p>
                        <div class="scroll-pane">
                            <p align="justify" style="display:block;margin-top:-3px;font-size: 14px;color: #eeeeee;letter-spacing:0.8px;line-height:20px;font-family: Futurica">
                            </p>
                        </div>
                    </div>
                    <div class="text-pane">
				        <p align="center" style="display:block;font-size: 24px;color: #eeeeee;letter-spacing:0.8px;line-height:20px;font-family: Futurica">Оськина Наталья</p>
                        <div class="scroll-pane">
                            <p align="justify" style="display:block;margin-top:-3px;font-size: 14px;color: #eeeeee;letter-spacing:0.8px;line-height:20px;font-family: Futurica">
                            </p>
                        </div>
                    </div>
                    <div class="text-pane">
				        <p align="center" style="display:block;font-size: 24px;color: #eeeeee;letter-spacing:0.8px;line-height:20px;font-family: Futurica">Семенов Александр</p>
                        <div class="scroll-pane">
                            <p align="justify" style="display:block;margin-top:-3px;font-size: 14px;color: #eeeeee;letter-spacing:0.8px;line-height:20px;font-family: Futurica">
                            </p>
                        </div>
                    </div>
					<div class="text-pane">
				        <p align="center" style="display:block;font-size: 24px;color: #eeeeee;letter-spacing:0.8px;line-height:20px;font-family: Futurica">Пученков Евгений</p>
                        <div class="scroll-pane">
                            <p align="justify" style="display:block;margin-top:-3px;font-size: 14px;color: #eeeeee;letter-spacing:0.8px;line-height:20px;font-family: Futurica">
                            </p>
                        </div>
                    </div>
                </div>
			</div>
			<div id="screensContainer" style="display:none">    
				<div class="slider_screen_content" id="sliderScreensContainer">
					<div>
						<img class="screen_lt" src="/ils2/Content/Sprites/screens/1.jpg" onclick="javascript:showScreen('1')">
						<img class="screen_mt" src="/ils2/Content/Sprites/screens/2.jpg" onclick="javascript:showScreen('2')">
						<img class="screen_rt" src="/ils2/Content/Sprites/screens/3.jpg" onclick="javascript:showScreen('3')">
						<img class="screen_lb" src="/ils2/Content/Sprites/screens/4.jpg" onclick="javascript:showScreen('4')">
						<img class="screen_mb" src="/ils2/Content/Sprites/screens/5.jpg" onclick="javascript:showScreen('5')">
						<img class="screen_rb" src="/ils2/Content/Sprites/screens/6.jpg" onclick="javascript:showScreen('6')">
					</div>
					<div style="display:none">
						<img class="screen_lt" src="/ils2/Content/Sprites/screens/7.jpg" onclick="javascript:showScreen('7')">
						<img class="screen_mt" src="/ils2/Content/Sprites/screens/8.jpg" onclick="javascript:showScreen('8')">
					</div>
				</div>
				<div class="arrows_container" id="screensArrowsContainer">
					<div class="arrow" style="background: url(content/sprites/arrow_left_ia.png) no-repeat;" onclick="javascript:sliderScreensDecr()"></div>
					<div id="screensPointContainer">
						<div class="arrow" style="background: url(content/sprites/point_a.png) no-repeat;" onclick="javascript:sliderScreensGoto('0')"></div>
						<div class="arrow" style="background: url(content/sprites/point_ia.png) no-repeat;" onclick="javascript:sliderScreensGoto('1')"></div>
					</div>
			        <div class="arrow" style="background: url(content/sprites/arrow_right_ia.png) no-repeat;" onclick="javascript:sliderScreensIncr()"></div>
		        </div>
                <div id="textScreensContainer" style="width:579px; left:240px; position:absolute">
				    <p align="center" style="display:block;font-size: medium;color: #39f295;letter-spacing:0.8px;line-height:30px;font-family: Futurica"></p>
				    <p align="center" style="display:none;font-size: medium;color: #39f295;letter-spacing:0.8px;line-height:30px;font-family: Futurica"></p>
				    <p align="center" style="display:none;font-size: medium;color: #39f295;letter-spacing:0.8px;line-height:30px;font-family: Futurica"></p>
				    <p align="center" style="display:none;font-size: medium;color: #39f295;letter-spacing:0.8px;line-height:30px;font-family: Futurica"></p>
				    <p align="center" style="display:none;font-size: medium;color: #39f295;letter-spacing:0.8px;line-height:30px;font-family: Futurica"></p>
				    <p align="center" style="display:none;font-size: medium;color: #39f295;letter-spacing:0.8px;line-height:30px;font-family: Futurica"></p>
				    <p align="center" style="display:none;font-size: medium;color: #39f295;letter-spacing:0.8px;line-height:30px;font-family: Futurica"></p>
				    <p align="center" style="display:none;font-size: medium;color: #39f295;letter-spacing:0.8px;line-height:30px;font-family: Futurica"></p>
				    <p align="center" style="display:none;font-size: medium;color: #39f295;letter-spacing:0.8px;line-height:30px;font-family: Futurica"></p>
				    <p align="center" style="display:none;font-size: medium;color: #39f295;letter-spacing:0.8px;line-height:30px;font-family: Futurica"></p>
				    <p align="center" style="display:none;font-size: medium;color: #39f295;letter-spacing:0.8px;line-height:30px;font-family: Futurica"></p>
			    </div>
            </div>
            <div id="awardsContainer" style="display:none">
				<p align="center" style="display:block;font-size: medium;color: #39f295;letter-spacing:0.8px;line-height:30px;font-family: Futurica"></p>
				<p align="center" style="display:none;font-size: medium;color: #39f295;letter-spacing:0.8px;line-height:30px;font-family: Futurica"></p>
				<p align="center" style="display:none;font-size: medium;color: #39f295;letter-spacing:0.8px;line-height:30px;font-family: Futurica"></p>
				<p align="center" style="display:none;font-size: medium;color: #39f295;letter-spacing:0.8px;line-height:30px;font-family: Futurica"></p>
				<p align="center" style="display:none;font-size: medium;color: #39f295;letter-spacing:0.8px;line-height:30px;font-family: Futurica"></p>
				<p align="center" style="display:none;font-size: medium;color: #39f295;letter-spacing:0.8px;line-height:30px;font-family: Futurica"></p>
				<p align="center" style="display:none;font-size: medium;color: #39f295;letter-spacing:0.8px;line-height:30px;font-family: Futurica"></p>
				<p align="center" style="display:none;font-size: medium;color: #39f295;letter-spacing:0.8px;line-height:30px;font-family: Futurica"></p>
				<p align="center" style="display:none;font-size: medium;color: #39f295;letter-spacing:0.8px;line-height:30px;font-family: Futurica"></p>
				<p align="center" style="display:none;font-size: medium;color: #39f295;letter-spacing:0.8px;line-height:30px;font-family: Futurica"></p>
				<p align="center" style="display:none;font-size: medium;color: #39f295;letter-spacing:0.8px;line-height:30px;font-family: Futurica"></p>
			</div>
            <div id="achievementsContainer" style="display:none">
				<p align="center" style="display:block;font-size: medium;color: #39f295;letter-spacing:0.8px;line-height:30px;font-family: Futurica"></p>
				<p align="center" style="display:none;font-size: medium;color: #39f295;letter-spacing:0.8px;line-height:30px;font-family: Futurica"></p>
				<p align="center" style="display:none;font-size: medium;color: #39f295;letter-spacing:0.8px;line-height:30px;font-family: Futurica"></p>
				<p align="center" style="display:none;font-size: medium;color: #39f295;letter-spacing:0.8px;line-height:30px;font-family: Futurica"></p>
				<p align="center" style="display:none;font-size: medium;color: #39f295;letter-spacing:0.8px;line-height:30px;font-family: Futurica"></p>
				<p align="center" style="display:none;font-size: medium;color: #39f295;letter-spacing:0.8px;line-height:30px;font-family: Futurica"></p>
				<p align="center" style="display:none;font-size: medium;color: #39f295;letter-spacing:0.8px;line-height:30px;font-family: Futurica"></p>
				<p align="center" style="display:none;font-size: medium;color: #39f295;letter-spacing:0.8px;line-height:30px;font-family: Futurica"></p>
				<p align="center" style="display:none;font-size: medium;color: #39f295;letter-spacing:0.8px;line-height:30px;font-family: Futurica"></p>
				<p align="center" style="display:none;font-size: medium;color: #39f295;letter-spacing:0.8px;line-height:30px;font-family: Futurica"></p>
				<p align="center" style="display:none;font-size: medium;color: #39f295;letter-spacing:0.8px;line-height:30px;font-family: Futurica"></p>
			</div>
		</div>
        <div id="blackout" style="position:absolute;background: #000000;width:809px;height:400px;display:none;overflow:hidden" style="cursor: pointer;">
			<div style="position:absolute;left:530px;display:none;width:809px;height:400px;margin-left:-404px" onclick="javascript:hideScreen('1')">
                <img align="middle" src="/ils2/Content/Sprites/screens/full/1.png" style="max-width: 809px; max-height:400px; left:50%">
            </div>
            <div style="position:absolute;left:535px;display:none;width:809px;height:400px;margin-left:-404px" onclick="javascript:hideScreen('2')">
                <img align="middle" src="/ils2/Content/Sprites/screens/full/2.png" style="max-width: 809px; max-height:400px">
            </div>
            <div style="position:absolute;top:10px;left:50%;display:none;width:809px;height:400px;margin-left:-404px" onclick="javascript:hideScreen('3')">
                <img align="middle" src="/ils2/Content/Sprites/screens/full/3.png" style="max-width: 809px; max-height:400px">
            </div>
            <div style="position:absolute;left:510px;display:none;width:809px;height:400px;margin-left:-404px" onclick="javascript:hideScreen('4')">
                <img align="middle" src="/ils2/Content/Sprites/screens/full/4.png" style="max-width: 809px; max-height:400px">
            </div>
            <div style="position:absolute;left:510px;display:none;width:809px;height:400px;margin-left:-404px" onclick="javascript:hideScreen('5')">
                <img align="middle" src="/ils2/Content/Sprites/screens/full/5.png" style="max-width: 809px; max-height:400px">
            </div>
            <div style="position:absolute;left:610px;display:none;width:809px;height:400px;margin-left:-404px" onclick="javascript:hideScreen('6')">
                <img align="middle" src="/ils2/Content/Sprites/screens/full/6.png" style="max-width: 809px; max-height:400px">
            </div>
            <div style="position:absolute;left:585px;display:none;width:809px;height:400px;margin-left:-404px" onclick="javascript:hideScreen('7')">
                <img align="middle" src="/ils2/Content/Sprites/screens/full/7.png" style="max-width: 809px; max-height:400px">
            </div>
            <div style="position:absolute;left:505px;display:none;width:809px;height:400px;margin-left:-404px" onclick="javascript:hideScreen('8')">
                <img align="middle" src="/ils2/Content/Sprites/screens/full/8.png" style="max-width: 809px; max-height:400px">
            </div>
			<img class="screens_left" src="/ils2/Content/Sprites/screens_left.png" onclick="javascript:screensDecr()">
			<img class="screens_right" src="/ils2/Content/Sprites/screens_right.png" onclick="javascript:screensIncr()">
		</div>
	</div>

}
@section end {
		
}

